[deps]
nim: http://nim-lang.org/download/nim-0.15.2.tar.xz 905df2316262aa2cbacae067acf45fc05c2a71c8c6fde1f2a70c927ebafcfe8a
collections: https://github.com/zielmicha/collections.nim
reactor: https://github.com/zielmicha/reactor.nim

[build]

[nim]
debugger: "native"

# reactor.nim required pthreads
threads: "on"

verbosity: "0"
hint[Processing]: "off"

@if release:
  gcc.options.always = "-w -fno-strict-overflow"
  gcc.cpp.options.always = "-w -fno-strict-overflow"
  clang.options.always = "-w -fno-strict-overflow"
  clang.cpp.options.always = "-w -fno-strict-overflow"

  passC:"-ffunction-sections -fdata-sections -flto"
  passL:"-Wl,--gc-sections -flto"

  obj_checks: on
  field_checks: on
  bound_checks: on
@end
